.contact-section-wrapper {
  padding-bottom: 70px;

  @include media(desktop) {
  }
}

.contact-section {
  background: rgba(69, 85, 108, 0.5);

  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.contact-text-wrapper {
  @include media(desktop) {
    max-width: 654px;
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Holtwood One SC', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #59e169;
  max-width: max-content;
  word-break: break-all;

  @include media(desktop) {
    font-size: 48px;
  }
}

.contact-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 340px;
    margin: 0;
  }
}
