.faq-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-top-text-btn {
  background: rgba(89, 225, 105, 0.3);
  padding: 31px 10px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;

  @include media(desktop) {
    padding: 24px 41px;
  }
}

.faq-btn-text {
  font-family: 'Holtwood One SC', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  text-align: left;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  height: 44px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  transform: rotate(180deg);

  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  margin-top: 28px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(-180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-bottom-text {
  padding: 0 10px;

  @include media(desktop) {
    padding: 0 50px;
  }
}
