.features-section {
  backdrop-filter: blur(24.399999618530273px);
  background: rgba(69, 85, 108, 0.5);

  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: 587px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    min-width: 579px;
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;

  @include media(desktop) {
  }
}
