.footer {
  background: rgba(89, 225, 105, 0.3);
  padding-top: 78px;
  padding-bottom: 78px;

  @include media(desktop) {
    padding-top: 68px;
    padding-bottom: 68px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-nav {
  margin-bottom: 50px;

  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-link {
  display: flex;
  align-items: center;
  font-family: 'Holtwood One SC', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 0.83333;
  text-transform: uppercase;
  color: #45556c;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }

  &:hover,
  &:focus {
  }
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  color: #000;

  @include media(desktop) {
    text-align: right;
  }
}
