.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 70px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-text-wrapper {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000;
  margin-bottom: 88px;

  @include media(desktop) {
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 70px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px 80px;
  }
}

.gameplay-list-item {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media(desktop) {
    max-width: 346px;
  }
}

.gameplay-item-title {
  font-family: 'Holtwood One SC', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 0.625;
  color: #59e169;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000;

  @include media(desktop) {
  }
}
