.mechanics-section {
  @include media(desktop) {
  }
}

.mechanics-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 70px;
    padding-top: 70px;
    max-width: 1440px;
  }
}

.mechanics-container {
  @include media(desktop) {
  }
}

.mechanics-content-wrapper {
  @include media(desktop) {
  }
}

.mechanics-text-wrapper {
  @include media(desktop) {
  }
}

.mechanics-title {
  @include media(desktop) {
  }
}

.mechanics-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000;
  margin-bottom: 88px;

  @include media(desktop) {
  }
}

.mechanics-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
  }
}

.mechanics-list-item {
  @include media(desktop) {
  }
}

.mechanics-item-text {
  font-family: 'Holtwood One SC', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33333;
  color: #59e169;

  @include media(desktop) {
  }
}
