<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="579"
            height="579" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="355"
            height="355" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="355"
            height="355"
            loading="lazy"
        /></picture>
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">WHO I AM</h2>
          <p class="about-text">
            Look, you should probably know who you're talking to here<br />
            My name is Cairn.<br />
            <br />
            I am not a traveler in the usual sense. I am one of the stones that
            once formed the ancient road itself. When the path was whole, I
            rested quietly beneath the feet of those who passed. I never needed
            to move. The road did all the guiding.<br />
            <br />
            But when the world fractured and the slabs drifted apart, something
            changed. I woke. I began to roll slowly across the fragments of the
            path, searching for the direction the road once held.<br />
            <br />
            I cannot rebuild the Stoneway on my own.<br />
            But with your help, we may restore it piece by piece.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
