<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <h2 class="section-title about-title">About the Game</h2>
        <div class="about-text-wrapper">
          <picture>
            <source
              srcset="./img/about/about-img-desk.png"
              media="(min-width: 1440px)"
              width="522"
              height="292" />
            <source
              srcset="./img/about/about-img-mob.png"
              width="320"
              height="179" />
            <img
              class="about-img"
              src="./img/about/about-img-mob.png"
              alt="Screenshot of the game"
              width="320"
              height="179"
              loading="lazy"
          /></picture>
          <p class="about-text">
            <span class="about-text-span">RushRail Security Guard</span>
            places players in charge of maintaining safety within a high-traffic
            railway station. Responsibilities include inspecting suspicious
            passengers, checking luggage, monitoring entrances, and responding
            to escalating security risks. Each level introduces new challenges,
            increasing complexity and urgency. Your main job? Stop bad stuff
            from happening while making sure people can still get to their
            trains on time.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
