<div class="contact-section-wrapper">
  <section class="section contact-section" id="contact">
    <div class="contact-bg-wrapper">
      <div class="container contact-container">
        <div class="contact-content-wrapper">
          <div class="contact-text-wrapper">
            <h2 class="section-title contact-title">Contact</h2>
            <p class="contact-text">
              If you want to send a message<br />
              Found something cool or confusing? Feel free to drop us a line
              about it. I may not read every message personally, but I like
              knowing that the Stoneway continues to inspire curiosity.
            </p>
            <a href="mailto:info@stoneway.pro" class="contact-link"
              >info@stoneway.pro</a
            >
          </div>
          <img
            class="contact-img"
            src="./img/contact/contact-img.png"
            alt="Screenshot of the game"
            width="340"
            height="320"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </section>
</div>
