<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <div class="faq-content-wrapper">
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is the gameplay realistic?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            We've taken real security stuff and made it actually fun to play on
            your phone.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Does difficulty increase over time?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes. Crowd size, inspection complexity, and time pressure gradually
            intensify.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Are there multiple environments?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            The game introduces new station sections and operational challenges
            as players progress.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is it suitable for casual players?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Early levels are accessible, while later stages require strategic
            thinking and quick reactions.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
