<section class="gallery-section section" id="gallery">
  <div class="gallery-bg-wrapper">
    <div class="container gallery-container">
      <h2 class="section-title gallery-title">Gallery</h2>
      <picture>
        <source
          srcset="./img/gallery/gallery-img-desk.png"
          media="(min-width: 1440px)"
          width="1280"
          height="667" />
        <source
          srcset="./img/gallery/gallery-img-mob.png"
          width="335"
          height="1080" />
        <img
          class="gallery-img"
          src="./img/gallery/gallery-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="1080"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
