<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <h2 class="section-title gameplay-title">How to Play</h2>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="628"
            height="463" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="335"
            height="863" />
          <img
            class="gameplay-img1"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="335"
            height="863"
            loading="lazy"
        /></picture>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-bg-desk.png"
            media="(min-width: 1440px)"
            width="1440"
            height="475" />
          <source
            srcset="./img/gameplay/gameplay-bg-mob.png"
            width="375"
            height="112" />
          <img
            class="gameplay-img2"
            src="./img/gameplay/gameplay-bg-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="112"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
