<section class="section mechanics-section" id="mechanics">
  <div class="mechanics-bg-wrapper">
    <div class="container mechanics-container">
      <div class="mechanics-content-wrapper">
        <h2 class="section-title mechanics-title">Core Gameplay</h2>
        <div class="mechanics-text-wrapper">
          <picture>
            <source
              srcset="./img/mechanics/mechanics-img-desk.png"
              media="(min-width: 1440px)"
              width="522"
              height="325" />
            <source
              srcset="./img/mechanics/mechanics-img-mob.png"
              width="375"
              height="226" />
            <img
              class="mechanics-img"
              src="./img/mechanics/mechanics-img-mob.png"
              alt="Screenshot of the game"
              width="375"
              height="226"
              loading="lazy"
          /></picture>
          <ul class="mechanics-list">
            <li class="mechanics-list-item">
              <svg class="circle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="mechanics-item-text">Monitor passenger movement</p>
            </li>
            <li class="mechanics-list-item">
              <svg class="circle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="mechanics-item-text">
                Inspect bags and verify identities
              </p>
            </li>
            <li class="mechanics-list-item">
              <svg class="circle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="mechanics-item-text">Identify suspicious behavior</p>
            </li>
            <li class="mechanics-list-item">
              <svg class="circle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="mechanics-item-text">Intervene in potential threats</p>
            </li>
            <li class="mechanics-list-item">
              <svg class="circle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="mechanics-item-text">
                Maintain order under time pressure
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
